/* .App {
  text-align: center;
}

.App-Contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
} */
